PORT=
DATABASE_URL=
RESEND_API_KEY=

# test
TEST_DATABASE_URL=

# otel
OTEL_SERVICE_NAME=
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_PROTOCOL=
OTEL_RESOURCE_ATTRIBUTES=
OTEL_EXPORTER_OTLP_HEADERS=
