# Binaries
/bin/*
!/bin/.gitkeep

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Air temporary directory
tmp/

# Go workspace file
go.work

# otelc compile-time instrumentation work dir
.otelc-build/

.env
.DS_Store
